@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  max-width: 42rem;
  padding: 1rem;
  line-height: 1.5;
  margin: auto;
  background: #1e1d1d;
  color: #F8F8F2;
}

.title {
  color: #fd5b5b;
  margin-bottom: 0.25rem;
  margin-top: 0rem;
  font-size: 2rem;
  animation: pulse 2s infinite; /* Apply the 'pulse' animation for 2 seconds, infinitely */
}

h2 {
  font-size: 1.4rem;
  color: #fd5b5b;
  margin-bottom: 0.2rem;
}

a,
a:active,
a:visited {
  color: #fd8b8b;
}

ul {
  margin-left: -15px;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

ul.competencies {
  margin-top: 0;
  padding-top: 0;
}

p.about {
  padding-bottom: 0;
}

.skills_box {
  padding-top: 0;
}

.header nav ul.flat {
  padding: 0;
}

h4.post_title {
  color: #fd5b5b;
  margin-bottom: 0rem;
}

.post {
  margin-bottom: 0rem;
}

.post h1 {
  color: #fd8b8b;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.post h1:hover {
  animation: color-cycle 1s infinite;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.post p {
  margin-top: 0rem;
}

hr.post_divider {
  margin-bottom: 1rem;
  opacity: 25%;
}

@keyframes pulse {
  0% {
    color: #1e1d1d;
  }
  50% {
    color: #fd5b5b;
  }
  100% {
    color: #1e1d1d;
  }
}

@keyframes color-cycle {
  0% { color: rgb(220, 120, 160); } /* Lightened red */
  25% { color: rgb(255, 230, 153); } /* Lightened yellow */
  50% { color: rgb(153, 230, 180); } /* Lightened green */
  75% { color: rgb(180, 200, 230); } /* Lightened blue */
  100% { color: rgb(220, 120, 160); } /* Lightened purple */
}

pre code {
  border-radius: 5px; /* Rounded corners */
  background-color: #fd5b5b;
}

code {
  border-radius: 5px;
  background-color: #575555;
}
